

body{
  //max-width: 1400px;
}

.full-width{
  width: 100%;
}
.light-background{
  background-color: $light-neutral-color;
}

.lightest-background{
  background-color: $lightest-neutral-color;
}

.dark-color{
  color: $dark-color;
}

.contrast-background{
 background-color: $contrast-neutral-color;
}

//sets text centered on mobile, left aligned on desktop 
.text-center-mobile{
  text-align: center;
  margin:auto;
}


.text-center{
  text-align: center;
}
.section-break{
  text-align:center;
}

.image-container{
  height: 25em;
  width:auto;
}
.center-object{
  display:flex;
  justify-content: center;
  align-items: center;
}


/*
// for non-video version 
.purple-blob{
  position: absolute;
  top:8%;
  width: 81%;
}

.image-front{
  position: relative;
  z-index: 200;
}
*/
//desktop view
@media only screen and (min-width: $break-medium){

  .center{
    margin:auto;
    width:100%
  }

  .text-center-mobile{
    text-align:left;
  }

  .limit-line-length-short{
    float: left;
  }

  .columns{
  display: flex;
  height: 100%;
}

.column{
  flex-grow: 1;
  align-items: stretch;

}
/* 
for non-video version

  .purple-blob{
    position: absolute;
    top:4em;
    width: 41%;
  }
*/

}