

//mobile base

//Sizes
.max-website-width{
  max-width: 1400px;
  margin:0 auto;
  background-color: white;
}

.full-width{
  width: 100%;
  }

.center-object{
  display:flex;
  justify-content: center;
  align-items: center;
}

.full-height{
  height: 100%;
}

.standard-container{
  height: 100%;
  @extend .center-object;
}


.hero-spacing{
  padding-top: $extra-large-padding;
}

.image-container{
  height: 20em;
  width:auto;
}

//sets text centered on mobile, left aligned on desktop 
.text-center-mobile{
  text-align: center;
  margin:auto;
}

.text-center{
  text-align: center;
}

.video-size{
  height: 100%;

    // resizes around medium size screen to prevent large video
   @media only screen and (max-width: $break-medium) and (min-width: $break-medium-small){
    height: 75vh;
    }
  }
  
// wraps links onto new line when multiple links 
.link-wrap{
  display:inline-block;
  float:left;
  clear:left;
  margin-bottom: 1em;
}
//colors

.beyond-max-color{
  background-color: #F8F8F8;
}

.light-background{
  background-color: $light-neutral-color;
}

.lightest-background{
  background-color: $lightest-neutral-color;
}

.dark-color{
  color: $dark-color;
}

.contrast-background{
 background-color: $contrast-neutral-color;
}


@media only screen and (min-width: $break-medium-small){
  .link-wrap{
    display:inline;
    float: none;
    clear: none;
    margin-right: $medium-padding; 
  }
}


//desktop view
@media only screen and (min-width: $break-medium){

  .center{
    margin:auto;
    width:100%
  }

  .text-center-mobile{
    text-align:left;
  }

  .hero-spacing{
  padding-top: 0em;
}

}