

body{
  max-width: 1400px;
  margin: 0 auto !important;
  float: none !important;
}
.center{
  margin: 4px;
}

.light-background{
  background-color: $light-neutral-color;
}

.lightest-background{
  background-color: $lightest-neutral-color;
}

.dark-color{
  color: $dark-color;
}

.text-center-mobile{
  text-align: center;
}

//desktop view
@media only screen and (min-width: $break-medium){

  .center{
    margin:auto;
  }

  .text-center-mobile{
    text-align:left;
  }


}