.nav-title{
	font-weight: medium;
	color: $text-color-lighter;
	font-weight: 600;
	border-bottom: none;
	padding: 1em;
}


ul{
	list-style-type: none;
    @extend .center-object;

}

li {
	float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: none;
    font-size: $subhead-size;
}

a:hover {
	background-color: $light-neutral-color;
}

.active {
 	color: $emphasis_color-medium;
}

.header-shadow{
	box-shadow: 0 .2em #D3D3D3;
}

/*
.align-item-parent{
	 height: 2.5em; // nav bar height
	 display:flex;
	 align-items: center;
	 justify-content: center;

}
*/
.align-nav-right{
	 display:flex;
	 align-items: center;
	 justify-content: center;
}

.align-title-left{
	 display:flex;
	 align-items: center;
	 justify-content: center;
}



@media only screen and (min-width: $break-medium){

	.align-title-left{
	 	justify-content: flex-start;
}

	.align-nav-right{
	 justify-content: flex-end;
}
	
	.ul{
		justify-content: flex-end;
	}

	li a{
		font-size: default;
	}
}