
//media query sizes
$break-small: 380px; 
$break-medium-small: 470px;
$break-medium: 769px;
$break-large: 1080px;


//standard padding 
$spacing--small: .5rem;
$spacing--medium: 1rem; // Used for most 
$spacing--large: 2rem;
$spacing--larger: 3rem;
$spacing--extra-large: 5.5rem;

//limits
$max-website-width: 1390px;

$line-limit--small: 17em;
$line-limit--medium: 30em;
$line-limit--large: 39em;

//font
$font-type: 'Montserrat', times;

$font-size--base: 16px;
$font-size--small: 0.9em;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--heavy: 600;

$line-spacing--extra: 0.14em;
$letter-spacing: 0.025em;
$line-height--prose: 1.6em;






//== colors by hue== 
$blue-lightest: #F0F4FA;  // usually background
$blue-light: #EBEEF7;    // usually background
$blue-semi-light: #D8DDEC; 
$blue-dark: #2D3346;

$orange-lightest:#FFF3EF; // usually background
$orange-light: #F39779; // usually underline for links 
$orange: #DE5B34;
$orange-darker: #CD4722; 

$grey-lightest: #eef2f5; // usually background
$grey: #F8F8F8;  // usually background
$grey-lightish: #A0A0A0;
$grey-medium-light: #D0D0D0;  
$grey-medium-dark: #454E6D; 
$grey-dark: #575D71;   //usually font
$grey-darker: #374058; //usually font

$purple: #5E2A8D;



//== colors by use ==

//font
$title-color: $blue-dark;
$header-color: $grey-darker;
$body-color: $grey-dark;
$caption-color: $grey-lightish;

$primary-color: $orange;
$primary-darker-color: $orange-darker;
$secondary-color: $blue-dark;

//links
$link-underline-color: $orange-light ;
$link-visited-color: $purple;

//specific colors
$footer-title-color: $blue-semi-light;
$video-background-color: $grey-lightest;
$beyond-max-width-color: $grey;
$process-number-color: $blue-semi-light;
$border-input: $grey-medium-light;



