
//media query size
$break-large: 960px;
$break-medium: 769px;
$break-medium-small: 470px;
$break-small: 350px;


//standard padding 
$spacing--small: .5rem;
$spacing--medium: 1rem; // Used for most 
$spacing--large: 2rem;
$spacing--larger: 2.5rem;
$spacing--extra-large: 5.5rem;

//line limits
$line-limit--small: 18em;
$line-limit--medium: 32em;
$line-limit--large: 39em;
$letter-spacing: 0.025em;
$line-height--prose: 1.6em;





//colors by hue
$blue-lightest: #F0F4FA;
$blue-light: #EBEEF7; 
$blue-semi-light: #BDC5DD; 
$blue-dark: #2D3346;

$orange-lightest:#FFF3EF;
$orange-light: #F39779;
$orange: #DE5B34;
$orange-darker: #CD4722; 

$grey-lightest: #eef2f5;
$grey: #F8F8F8;
$grey-dark: #454E6D; 
$grey-darker: #434A53;

$purple: #5E2A8D;



//colors by use 

//font
$title-color: $blue-dark;
$header-color: $grey-darker;
$body-color: $grey-dark;

$primary-color: $orange;
$primary-darker-color: $orange-darker;
$secondary-color: $blue-dark;

//links
$link-underline-primary-color: $orange-light ;
$link-underline-secondary-color: $grey-dark;
$link-visited-color: $purple;

//specific colors
$footer-title-color: $blue-semi-light;
$video-background-color: $grey-lightest;
$beyond-max-width-color: $grey;
$process-number-color: $blue-semi-light;
$line-color: $blue-light;




//font
$font-type: 'Montserrat', Arial;
$font-size--base: 15px;
$font-size--caption: 0.82em;
$font-size--small: 0.72em;
$font-weight--medium: 500;
$font-weight--regular: 400;
$line-spacing--extra: 0.14em;



