//==== links =====

// links in body of text


.link {
    text-decoration: none;
    border-bottom: 0.12em solid $link-underline-primary-color;
    color: $body-color;

    &:not(.no-hover):hover {
    border-bottom: 0.2em solid $primary-darker-color;
    }

    &--inline {
        color: $primary-color;
    }

    &--primary {
        text-transform: uppercase;
        font-weight: $font-weight--medium;
        letter-spacing: $line-spacing--extra;
        font-size: $font-size--caption;
        color: $primary-darker-color;

        &:visited {
            color: $link-visited-color;   
        }
    }

    &--secondary {
        text-transform: uppercase;
        font-weight: $font-weight--medium;
        letter-spacing: $line-spacing--extra;
        font-size: $font-size--caption;
        color: $link-underline-secondary-color;
    }

    &.link--secondary:visited{
        color: $link-visited-color;
    }

}

// wraps links onto new line when multiple links 
.wrap-links{
    display: inline;
    float: left;
    margin-right: $spacing--medium;
    margin-bottom: $spacing--medium;
}

