// === spacing and alignment ====

// limit width of site
.max-website-width {
    max-width: 1400px;
    margin:0 auto;
}

// reset spacing from bulma to 0

.columns {
    margin: 0;
    padding: 0;
}

.column {
    padding: 0;
    margin: 0;
}




// helpers for spacing
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-width{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.top-padding--medium {
    padding-top: $spacing--medium;
}



// commonly used spacing for elements
.spacing-object {
    padding: $spacing--medium;
    margin: $spacing--small;
}

.spacing-section {
    padding-top: $spacing--large;

    @media only screen and (min-width: $break-medium) {
        padding-top: $spacing--larger;
    }
}

.spacing-section--small{
    padding-top: $spacing--medium;

}

.spacing-section--large {
    padding-top: $spacing--large;

    @media only screen and (min-width: $break-medium) {
        padding-top: $spacing--extra-large;
    }
}


.spacing-hero {
    padding-top: 9em;
    padding-bottom: $spacing--extra-large;
}




//containers
.image-size {
      width: 100%;
      height: auto;
}

.standard-container {
      @extend .center-children;

      height: 100%;
}

.image_container--small {
      @extend .center-width;

      display: block;
      width: 4.2em;

}

.image_container--medium {
    @extend .center-width;

    display: block;
    width: 6em;
}

.image_container--large {
    @extend .center-width;

    display: block;
    width: 11em;
}

.inline-block{
    display: inline-block;
}


//other classes


.line-limit {
    max-width: 20em;
}
