body {
    font-family: $font-type;
    font-size: $font-size--base;
    letter-spacing: $letter-spacing;
}

//=== fonts ====

h1 {
    margin: 0;
    font-weight: $font-weight--heavy;
    font-size: 1.77em;
    line-height: 1.25em;
    color: $title-color;
}

h2 {
    font-weight: $font-weight--medium;
    font-size: 1.33em;
    line-height: 1.25em;
    color: $primary-color;
}

h3 {
    font-weight: $font-weight--medium;
    font-size: 1.0em;
    color: $header-color;
}

h6 { // used for footer
    font-size: $font-size--small;
    font-weight: $font-weight--medium;
    letter-spacing: .075em;
    color: $footer-title-color;
    margin: 0;
    padding-bottom: $spacing--small;
}

p {
    max-width: $line-limit--medium;
    font-size: 1.0em;
    font-weight: $font-weight--regular;
    line-height: 1.4em;
    color: $body-color;
}

li{
    max-width: $line-limit--medium;
    font-size: 1.0em;
    font-weight: $font-weight--regular;
    line-height: 1.4em;
    color: $body-color;
}

.line-height--prose {
    line-height: $line-height--prose;
}

.line-limit--small {
    max-width: $line-limit--small;
}

.line-limit--medium {
    max-width: $line-limit--medium;
}

.line-limit--large{
    max-width: $line-limit--large;
}



.text-center {
    text-align: center;
}

.font-size--small {
    font-size: $font-size--small;
}

.font-weight--medium{
    font-weight: $font-weight--medium;
}

// unique classes
.footer--text-style {
    border-bottom: none;
    font-size: $font-size--small; 
    letter-spacing: .1em;
    line-height: 1.25em;
    color: white;
}

.process--text-style {
    color: $process-number-color;
    font-size: 2.5em;

    @media only screen and (min-width: $break-medium-small){
        font-size: 3.5em;
    }

    @media only screen and (min-width: $break-medium){
        font-size: 4em;
    }
}

.bulleted-list{
    list-style-position: outside;
    padding-left: $spacing--medium;

    li{
        margin-bottom: $spacing--small;
    }
}




// === Media Queries ====

// very small mobile devices
@media only screen and (max-width: $break-small){
    h1 {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: $break-medium-small){
    h1{
        font-size: 2.1em;
    }
}

@media only screen and (min-width: $break-medium){
    h1 {
        font-size: 2.0em;
    }
    h3{
        font-size: 1.2em;
    }

    p {
        max-width: $line-limit--large;
    }
}


//large
@media only screen and (min-width: $break-large){
    h1 {
        font-size: 2.64em;
    }
}


.animate--fade{
    -webkit-animation: fadein 2.5s;
    -webkit-animation-timing-function: ease-out;
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}
