<header class="header-shadow"> 
    <div class="max-website-width"> 
        <div class="columns">
            <div class="column is-half">
                <div class= "title--left-align">
                    <a href="/" class="nav-title no-hover">Health Data Basics</a> 
                </div>
            </div>

            <nav class="column is-half">
                 <ul class=" full-height nav--align-right list--unstyled">
                    <li> <a class="link link--nav" href="/" > Tools </a></li>
                    <li> <a class="link link--nav" href="/process.html"> Process </a> </li>
                    <li> <a class="link no-hover link--nav nav--is-active" href="/about.html"> About </a> </li>
                    <li> <a class="link--nav button no-hover position-button" href="/contact.html">Contact</a> </li>
                 </ul>
            </nav>
        </div>
    </div>
</header>



<main class="max-website-width background--white">
    <div class="center-children text-center background--lightest hero--spacing">
        <div class="spacing-object">
            <img class="image-container--medium" src="/images/svg/icon-about.svg" type="svg">
            <h1 class="line-limit--small center-width padding-top--medium animate--fade">A Patient Centered Approach to Demystify Health Data</h1>
            <p class="center-width"> <i>FasterCures</i> and GoInvo developed tools to explain health data and how it’s collected, shared, and used to make decisions about health</p>
        </div>
    </div>

    <section class="spacing-object center-children">
        <div>   
            <img class="image-container--medium spacing-section" src="/images/svg/icon-story.svg" type="svg"> 
            <h2 class="text-center padding-top--medium"> Our Story </h2>
            <p class="line-height--prose">
                A knowledge gap exists between what people understand about the medical R&D system and what the system is asking them to do. According to research, most people understand the health care system collects an immense amount of their information. Many may ask, “where’s my data going?

                <br> <br>
                To bridge the gap, <i>FasterCures</i> and GoInvo have developed a set of tools to help people understand what makes up their health data, how the information is collected and shared, and how it is used. This important work pushes forward individual and community understanding of how data can support patients, caregivers, and providers making decisions about health.

                <br> <br>
                Originally, this project was funded through a $250,000 Patient-Centered Outcomes Research Institute (PCORI) Eugene Washington PCORI Engagement Award (#4202-MI). The award allowed <i>FasterCures</i> and GoInvo to create tools that are brief, easily accessible to individuals, and aligned with their educational needs. Surveys, in-depth interviews, and user-testing with participants informed all created resources.

                <br> <br>
                Now, <i>FasterCures</i> is making continued efforts to partner with patients and organizations alike to utilize these tools and help make health data more accessible for every individual.
            </p>
        </div>
    </section>



    <section class="spacing-object center-children">
        <div>   
            <img class="image-container--small spacing-section" src="/images/svg/icon-team.svg" type="svg"> 
            <h2 class="text-center">The Team</h2>

            <p class="line-height--prose"> 
                <i> <b>FasterCures</b></i>, a Washington, D.C.-based Center of the Milken Institute, is driven by a singular goal – to save lives by speeding up and improving the medical research system. For too long, patients’ unmet medical needs have been an afterthought, rather than a starting point, for developing medical products that address their priorities and deliver value to the health-care system.<br>
                <a class="link link--primary" href= "http://www.fastercures.org/"> <i>Fastercures</i> homepage</a>

                <br><br>
                <b>GoInvo’s</b> design practice is dedicated to user centered innovation in healthcare. Their team has a significant track record in software for patients, clinicians, researchers, and analysts over the past decade, and high rates of customer satisfaction and enthusiasm. Working with organizations focused on healthcare, they come with the right experience to help FasterCures execute this project.</p>
                <a class="link link--primary" href="https://www.goinvo.com/healthcare/">See Our Work </a>

                <div class="text-center spacing-object">
                    <img class="image_container--large inline-block" src="/images/fastercures_logo.png" type="png"> 
                    <img class="image_container--large spacing-section--small inline-block" src="/images/goinvo_logo.png" type="png"> 
                </div>
        </div>
    </section>

    <section class="center-children background--lightest">
          <div class="spacing-section spacing-object">
                <img class="image-container--small" src="/images/svg/icon-advisory.svg" type="svg"> 
                <h2 class="text-center top-padding-medium"> Advisory Panel </h2>
                <p class="font-size--small"> 
                    <br>
                    <b>Gregory Daniel, PhD</b> <br>
                    Deputy Director <br>
                    Duke-Robert J. Margolis, MD Center for Health Policy <br>
                    <br>

                    <b>Tracy Dixon-Salazar, PhD</b><br>
                    Director of Research and Strategy, Lennox-Gastaut Syndrome Foundation<br>
                    Founder, Innovatients, LLC<br>
                    <br>

                    <b>Nikki Levy</b><br>
                    Vice President, Patient Engagement<br>          
                    Alkermes<br>
                    <br>

                    <b>Erin Mackay</b><br>
                    Associate Director, Health Information Technology Programs<br>
                    National Partnership for Women & Families<br>
                    <br>

                    <b>Megan O’Boyle</b><br>
                    Principal Investigator<br>
                    Phelan-McDermid Syndrome International Registry and PMS Data Network, PCORnet PPRN<br>
                    <br>

                    <b>Joseph S. Ross, MD</b><br>
                    Associate Professor of Medicine, Institute for Social and Policy Studies<br>
                    Assistant Professor of Public Health (Health Policy)<br>
                    Yale School of Medicine<br>
                    <br>

                    <b>Adrian F. Hernandez, MD</b><br>
                    Director, Health Services and Outcomes Research<br>
                    Faculty Associate Director<br>
                    Professor of Medicine, Cardiology<br>
                    Duke University School of Medicine<br>
                    <br>
                </p>

          </div>
    </section>


</main>
