<header class="header-shadow"> 
    <div class="max-website-width"> 
        <div class="columns">
            <div class="column is-half">
                <div class= "title--left-align">
                    <a href="/" class="nav-title no-hover">Health Data Basics</a> 
                </div>
            </div>

            <nav class="column is-half">
                 <ul class=" full-height nav--align-right list--unstyled">
                    <li> <a class="link link--nav" href="/" > Tools </a></li>
                    <li> <a class="link link--nav" href="/process.html"> Process </a> </li>
                    <li> <a class="link link--nav" href="/about.html"> About </a> </li>
                    <li> <a class="link--nav button no-hover position-button" href="/contact.html">Contact</a> </li>
                 </ul>
            </nav>
        </div>
    </div>
</header>



<main class="max-website-width background--white">
    <div class="center-children text-center background--light hero--spacing">
        <div class="spacing-object">
            <img class="image-container--medium" src="/images/svg/icon-contact.svg" type="svg"></img>
            <h1 class="line-limit--small center-width padding-top--medium animate--fade">Work With Us</h1>
            <p class="center-width">Get In Touch</p>
        </div>
    </div>

    <div class="standard-container background--grey padding-bottom--medium">
        <form class="position--up background--white" action="/sent.html">
            <p class="font-weight--medium font-size--small">
                Name <br>
                <input class="input" type="text" name="name" autofocus>  <br><br>
                Email <br>
                <input class="input" type="email" name="email" required> <br><br>
                Your Message<br>
                <textarea class="input input--paragraph" type="text" name="message" required> </textarea> <br>
            </p>      
            <input class="button" type="submit" value="Submit"> 
        </form>
    </div>

</main>
