<main class="max-website-width background--white">
    <div class="center-children text-center background--light hero--spacing">
        <div class="spacing-object">
            <img class="image-container--medium" src="/images/svg/icon-contact.svg" type="svg"></img>
            <h1 class="line-limit--small center-width padding-top--medium animate--fade">Work With Us</h1>
            <p class="center-width">Get In Touch</p>
        </div>
    </div>

    <div class="standard-container background--grey padding-bottom--medium">
        <form class="position--up background--white" action="/sent.html">
            <p class="font-weight--medium font-size--small">
                Name <br>
                <input class="input" type="text" name="name" autofocus>  <br><br>
                Email <br>
                <input class="input" type="email" name="email" required> <br><br>
                Your Message<br>
                <textarea class="input input--paragraph" type="text" name="message" required> </textarea> <br>
            </p>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>

</main>
