<main class="max-website-width background--white class">
 
     <div class="center-children text-center background--lightest hero--spacing">
            <div class="spacing-object">
                <img class="image-container--small" src="/images/svg/icon-future.svg" type="svg">
                <h1 class="line-limit--small center-width padding-top--medium animate--fade">Building the Future of Health Data</h1>
                <p class="center-width"> Join us in crafting shared values and policies that will lead to a future with benefits for all. </p>
            </div>
    </div>


    <section class="center-children spacing-object">
        <div> 
            <h2 class="padding-top--medium text-center"> Towards a New Model of Trust </h2>
            <p class="line-height--prose">
               Our greatest potential to treat and cure patients may lie in our ability to engage patients in their health data and to ensure that the data can be used appropriately and effectively for their benefit. We believe this can only happen if there is trust among patients and the organizations that will be poised to use this data to improve health and advance science. 
            </p>

            <h2 class="text-center padding-top--medium"> What are we doing? </h2>
            <p> 
                To inspire trust in the system, <i>FasterCures </i> is asking its community of like-minded organizations to develop a unified commitment to a future where health data is available, secure, and ethically – and transparently - used to the benefit of all. 
            </p>


             <a href="images/half/future_ecosystem@3x.png" target="blank">
                <img class="image-size--max padding-top--medium" srcset="images/half/future_ecosystem@3x.png 2x, images/half/future_ecosystem@2x.png 1x" type="image" alt="health data ecosystem poster" src="images/half/future_ecosystem@3x.png">
            </a>
            <div>
                <a class="link link--primary" href= "images/half/future_ecosystem@3x.png" target="_blank"> Full Size Image</a>
             </div>

            <h2 class="text-center padding-top--medium"> What can you do? </h2>
            <ul class="bulleted-list">
                <li> Join our community by indicating your interest <a class="link link--primary" href="mailto:healthdata@fastercures.org"> here</a> </li>
                <li> Send us any of the policies or practices you have incorporated into your work that touch upon one or more of the shared values. 
                </li>
                <li> Send us any ideas you may have to build what is needed to support the future of health data. </li>
                <li> Help us build our community by inviting members of your community to join. </li>
            </ul>
            <p class="padding-bottom--medium">
                <br> In 2019, <i> FasterCures</i> will reach out to those organizations that have expressed interest, share what we have learned so far, and identify opportunities for further collaboration. <br> <br>

                We look forward to your partnership and input! 
            </p>
        </div>
    </section>

</main>
