<!--Hero -->
<main class="max-website-width background--white class">

    <section class="columns">
            <div class="column is-half">
                <div class="full-height">
                    <video class="full-width video-size background--video" autoplay muted loop>
                        <source src="images/Plugin_video_mockup_v3.mp4" width="auto" height="auto" type="video/mp4">
                        <source src="images/Plugin_video_mockup_v3.webm" width="auto" height="auto" type="video/webm">
                        Looks like the video isn't loading. Check out the prototype instead
                    </video>
                </div>
            </div>

            <div class="column is-half">
                <div class="background--title-gradient text-center-mobile full-height ">
                    <div>
                        <h1 class="spacing-hero-homepage animate--fade line">Health Data Education</h1>
                        <h1 class="text-color--contrast animate--fade">Made Simple</h1>
                        <p class="line-limit--medium ">Open-source educational tools to make health data accessible and understandable for all</p>
                    </div>
                </div>
            </div>
    </section>

<!--Problem -->
    <section class="columns no-bottom-spacing">
        <div class="column is-half">
            <div class="background--light standard-container margin-right--small">
                <div class="spacing-object">
                    <img class="image-container--small padding-top--medium" src="/images/svg/icon-problem.svg" type="svg">
                    <h2 class="text-center">The Problem</h2>
                    <p>Health data is invaluable for improving health, yet most individuals are unfamiliar with what it is or how to use it. A shocking <b>41%</b> of individuals have never viewed their health data.</p>
                </div>
            </div>
        </div>

        <div class="column is-half">
            <div class="standard-container background--lightest margin-left--small">
                <div class="spacing-object">
                    <img class="image-container--small" src="/images/svg/icon-believe-better.svg" type="svg">
                    <h2 class="text-center">We Believe in Better</h2>
                    <p>Health Data Basics is a set of tools designed to increase an indivdual’s understanding, engagement, and use of health data. It is led by <i>FasterCures</i> in collaboration with GoInvo and an advisory panel. The initial prototype development was funded by the Patient-Centered Outcomes Research Institute (PCORI).</p>
                </div>
            </div>
        </div>
    </section>

<!-- open source tools -->
    <section>
        <div class="center-children">
            <div class="spacing-object text-center ">
                <img class="spacing-section--large image-container--small" src="/images/svg/icon-tools.svg" type="svg">
                <h2>Open Source Tools</h2>
                <p>You are welcome to download, modify, and use the design assets and prototype designs under the MIT License. Contact us if you’d like to partner on implementing these prototypes or to customize the design.</p>
            </div>
        </div>


        <div class="columns">
                <article class="column is-half">
                <div class="background--contrast center-children margin-right--small">
                     <img class="image-size"
                        srcset="/images/half/hidden@0,5x.png 540w, /images/half/hidden.png 1080w"
                        src="/images/half/hidden.png" alt="screenshot of plugin">
                </div>

                <div class="spacing-object center-children">
                    <div>
                        <h3>Uncover the Truth Concept</h3>
                        <p>Individuals are led through a concise journey about the five main components of health data, where to find it, and their rights to access or request it. Quizzes at the end offer an opportunity to interact with the information learned.</p>
                        <a class="link link--primary" href="https://brysonwong.github.io/v6/">View Mockup</a>
                    </div>
                </div>
            </article>

            <article class="column is-half">
                <div class="background--contrast center-children margin-left--small">
                    <img class="image-size"
                        srcset="/images/half/plugin@0,5x.png 540w, /images/half/plugin.png 1080w"
                        src="/images/half/plugin.png" alt="screenshot of plugin">
                </div>

                <div class="spacing-object center-children">
                    <div>
                        <h3>What Heath Data is Concept</h3>
                        <p>In this web-app plugin, individuals engage with their health through surprising and tangible examples showing that there is so much more to health than medical care. This story ultimately shows individuals how health data permeates these interactions.</p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://www.canvasflip.com/protected/app/playback.php?project=25601&ref=ddUlzk2lO7XkT9BgVQ3kplZnHJZ1efFs#272027/">Scroll Mockup</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://www.canvasflip.com/protected/app/playback.php?project=25895&ref=7CUvRGSxAtljA2b66mSUiPjzpmFySZFZ">Carousel Mockup</a> </li>
                        </ul>
                    </div>

                </div>
            </article>


        </div>

        <div class="columns">
            <article class="column is-one-third">
                <div class="background--light center-children margin-right--small">
                    <img class="image-size" srcset="images/third/where_data_goes@0,5x.png 433w, images/third/where_data_goes.png 866w"
                    src="images/third/where_data_goes.png" alt="poster of where data goes">
                </div>

                <div class="spacing-object center-children">
                    <div>
                        <h3>Where Health Data Goes Poster</h3>
                        <p> This poster follows one of the many possible journeys of health data and the organizations it touches.</p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class=" link link--secondary" href="https://github.com/goinvo/HealthDataBasics/blob/master/Posters/where_data_goes.pdf">View Poster </a> </li>
                            <li class="wrap-links"> <a class= "link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/Posters"> All Posters </a> </li>
                        </ul>
                    </div>
                </div>
            </article>

             <article class="column is-one-third">
                <div class="background--light center-children margin-sides--small">
                    <img class="image-size" srcset="images/third/beyond_clinic@0,5x.png 433w, images/third/beyond_clinic.png 866w"
                    src="images/third/beyond_clinic.png" alt="poster showing health beyond the clinic">
                </div>

                <div class="spacing-object center-children">
                    <div>
                        <h3>Beyond the Clinic Poster</h3>
                        <p> This artistic piece encourages engagement and shows the scope of health data that extends beyond medical care.</p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class=" link link--secondary" href="https://github.com/goinvo/HealthDataBasics/blob/master/Posters/The_World_Posters_Health%20Data%20Beyond%20the%20Clinic.jpg">View Poster</a> </li>
                            <li class="wrap-links"> <a class= "link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/Posters"> All Posters </a> </li>
                        </ul>
                    </div>
                </div>
            </article>


            <article class="column is-one-third">
                <div class="background--light center-children margin-left--small">
                    <img class="image-size" srcset="images/third/illustration_collection@0,5x.png 433w, images/third/illustration_collection.png 866w"
                    src="images/third/illustration_collection.png" alt="shoe, wearable and salt shaker icons">
                </div>

                <div class="spacing-object center-children">
                    <div>
                        <h3>Design Assets</h3>
                        <p>A collection of over 45 icons and illustrations to help explain health data and its components. </p>
                        <a class=" link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/2d_Visuals">View Assets</a>
                    </div>
                </div>
            </article>
        </div>

    </section>


    <!-- process -->

    <section class="padding-bottom--medium">
        <div class="spacing-section--large text-center">
            <img class="image-container--medium center-width" src="images/svg/icon-process.svg" type="svg">
            <h2> Process</h2>
        </div>

        <div class="columns">

            <div class="column is-half">
                <div class="center-children margin-right--small background--lightest">
                    <img class="image-size--medium" srcset="images/half/ucd_process@0,5x.png 433w, images/half/ucd_process.png 866w"
                    src="images/third/ucd_process.png" alt="timeline with icons for research, design and validation">
                </div>

                <div class="center-children spacing-object">
                    <div>
                        <h3> User Centered Approach </h3>
                        <ul class="bulleted-list">
                            <li>Survey responses from 700+ people and interviews with 15 key opinion leaders</li>
                            <li>Defined health data and seeded <a class="link link--inline" href="https://en.wikipedia.org/wiki/Health_data"> Wikipedia article</a> </li>
                            <li>Designed exploration of over a dozen concepts validated by user feedback </li>
                            <li>Tested by 30 patients </li>
                        </ul>
                        <%= link_to 'Full Process', 'process.html', class: 'link link--secondary' %>
                    </div>
                </div>
            </div>

             <div class="column is-half">
                <div class="center-children margin-left--small background--lightest">
                    <img class="image-size--medium" srcset="images/half/behavior_change@0,5x.png 433w, images/half/behavior_change.png 866w"
                    src="images/third/behavior_change.png" alt="photo of mockup expanded">
                </div>

                <div class="center-children spacing-object">
                    <div>
                        <h3> Designed for Behavior Change </h3>
                        <ul class="bulleted-list">
                            <li> “What Health Data is” prototype aligns with Health Belief Model </li>
                            <li> Designed for low literacy and accessibility </li>
                            <li> In limited testing, 29/30 of individuals recalled the 5 main factors of health data. </li>
                        </ul>
                        <%= link_to 'Full Process', 'process.html', class: "link link--secondary" %>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--contact -->
    <div class="background--light hero--spacing standard-container">
        <div class="text-center spacing-object">
            <img class="image-container--medium" src="images/svg/icon-contact.svg" type="svg">
            <h2>Let's Build This</h2>
            <p class="text-center line-limit--large">Empower your patients or customers with a greater understanding of their health data by utilizing a customized version of this tool.</p>
             <%= link_to 'Contact Us', 'contact.html', class: 'button' %>
        </div>
    </div>


</main>
