
<head>
  <link href="https://fonts.googleapis.com/css?family=montserrat" rel="stylesheet">
</head>



<h1>
  Middleman is Running
</h1>
<h2>
  Test h2
  </h2>
  <h3>
    test h3
</h3>
<p>
  paragraph
  </p>
<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
