
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
</head>


<body class= "beyond-max-color">

	<header class= "header-shadow"> 
		<div class= "max-website-width "> 
			<div class="columns is-gapless">
				<div class= "column is-half">
					<div class= "align-title-left">
						<a href="https://northglennews.co.za/80588/whacky-wednesday-weird-and-wonderful-narwhal/" class="nav-title nohover no-visited ">Health Data Basics</a> 
						<div class= "line"> </div>
					</div>
				</div>

					<nav class= "column is-half">
						 <ul class= "align-nav-right">
						 	<li> <a href=" https://northglennews.co.za/80588/whacky-wednesday-weird-and-wonderful-narwhal/" > Tools </a></li>
						 	<li> <a href=" https://northglennews.co.za/80588/whacky-wednesday-weird-and-wonderful-narwhal/"> Process </a> </li>
						 	<li> <a href="https://northglennews.co.za/80588/whacky-wednesday-weird-and-wonderful-narwhal/"> About </a> </li>
						 	<li> <a class ="button nohover no-visited position-button" href="http://google.com">Contact</a> </li>
						 </ul>
					</nav>
			</div>
		</div>
	</header>

	<main class ="max-website-width">

		<section class ="columns is-gapless">
				<div class= "column is-half">
					<video class="full-width video-size light-background " autoplay loop> 
 					 	<source src="/images/Plugin_video_mockup.mp4" width="auto" height= "auto" type="video/mp4"> </video>
				</div>

				<div class= "column is-half">
					<div class= "center-object text-center-mobile full-width-height ">
						<div>
						<h1 class= "dark-color section-spacing">Health Data Education</h1>
						<h1>Made Simple</h1>
						<p>An open-source educational tool designed to help make health data accessible and understandable for all.</p>
						</div>
					</div>
				</div>
		</section>

		<!--problem --> 
		<section class= "columns ">
			<article class= "column  is-half light-background center-object">
				<div>
						<h2 class= "text-center">The Problem</h2>
						<p class= "text-center">Health data is invaluable for improving health, yet most individuals are unfamiliar with what it is or how to use it. A shocking 41% of individuals have never viewed their health data.</p> 
				</div>
			</article>

			<article class="column is-half center-object lightest-background">
				<div>
					 <h2 class="text-center">We Believe in Better</h2>
					 <p>Health Data Basics is a set of tools designed to increase an indivdual’s understanding, engagement and use of health data. It is led by FasterCures in collaboration with GoInvo and an advisory panel. The initial prototype development was funded by the Patient-Centered Outcomes Research Institute (PCORI).</p>
				</div>
			</article>
		</section>


		<!--Open source tools --> 
		<section>

			<article class= "text-center columns is-centered">
				<div class= "column center-object"> 
					<div>
						<h2 class= "section-spacing">Open Source Tools</h2>
						<p class= "text-center">You are welcome to download, modify and use the design assets and prototype designs under the MIT License. Contact us if you’d like to partner on implementing these prototypes or to customize the design.</p>
					</div>
				</div>
			</article>

			<div class= "columns">
				<article class= "column is-half">
					<div class= "contrast-background center-object">
						<img  class= "image-container" srcset="/images/plugin_mockup.png 1x, /images/plugin_mockup.png 2x" alt="image of plugin">
					</div>
					<h3>Uncover the Truth Plugin</h3>
					<p>In this plugin, individuals engage with their health through surprising and tangible examples showing that there is so much more to health than medical care. This story ultimately leads an individual to understand how health data  permeates all these interactions.</p>
					<a class="primary" href= "https://css-tricks.com/snippets/css/a-guide-to-flexbox/">Try it Now</a>
				</article>

				<article class= "column is-half">
					<div class= "contrast-background center-object">
						<img  class= "image-container" srcset="/images/plugin_mockup.png 1x, /images/plugin_mockup.png 2x" alt="image of plugin">
					</div>
					<h3>Health Data Education Plugin</h3>
					<p>Individuals are led through a concise journey about the five main components of health data, where to find it, and their rights to access or request it. Quizes at the end offer an opportunity to interact with the information learned. </p>
				</article>
			</div>

		</section>
	</main>
	</div>
</body>