<header class="header-shadow"> 
    <div class="max-website-width"> 
        <div class="columns">
            <div class="column is-half">
                <div class= "title--left-align">
                    <a href="/" class="nav-title no-hover">Health Data Basics</a> 
                </div>
            </div>

                <nav class="column is-half">
                     <ul class="align-nav-right align-nav">
                        <li> <a class="nav_is_active no-hover link-style-nav" href="/" > Home </a></li>
                        <li> <a class="link-style-nav" href="process.html.erb"> Process </a> </li>
                        <li> <a class="link-style-nav" href="/about.html.erb"> About </a> </li>
                        <li> <a class=" link-style-nav button no-hover position-button" href="http://google.com">Contact</a> </li>
                     </ul>
                </nav>
        </div>
    </div>
</header>
