<header class="header-shadow"> 
    <div class="max-website-width"> 
        <div class="columns">
            <div class="column is-half">
                <div class= "title--left-align">
                    <a href="/" class="nav-title no-hover">Health Data Basics</a> 
                </div>
            </div>

                <nav class="column is-half">
                     <ul class="align-nav-right align-nav">
                        <li> <a class="nav_is_active no-hover link-style-nav" href="/" > Home </a></li>
                        <li> <a class="link-style-nav" href="process.html.erb"> Process </a> </li>
                        <li> <a class="link-style-nav" href="/about.html.erb"> About </a> </li>
                        <li> <a class=" link-style-nav button no-hover position-button" href="http://google.com">Contact</a> </li>
                     </ul>
                </nav> 
        </div>
    </div>
</header>

<main class="max-website-width background--white">
    <div class="background--lightest center-children hero--spacing">
        <div class="text-center spacing-object">
            <img class="center-width image-container--medium" src="/images/svg/icon-process.svg" type="svg"> </img>
            <h1 class="line-limit top-padding--medium animate--fade">How We Created a Patient Centered Tool</h1>
            <p class="center-width"> See inside the user-centered research, design, and validation that connects patients to health data</p>
        </div>
    </div>

    <section>
        <img class=" center-width image-container--small spacing-section" src="/images/svg/icon-research.svg" type="svg"> </img>
        <h2 class="text-center"> Research and Definition</h2>

        <div class="columns">
            <div class="column is-half" >

                <div class= "standard-container spacing-object background--lightest">
                    <img class="image-size" srcset="/images/half/survey.png 2x, /images/half/survey@0,5x.png 1x" type="image"
                    src="/images/half/survey.png" alt="bar chart"> </img>
                </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object">
                    <div>
                        <h1 class="process--text-style"> 1a</h1>
                        <h3> Survey and Interviews</h3>
                        <p> To identify the factors that limit patients and caregivers’ awareness,  understanding, and use of health data, FasterCures distributed a survey to 700+ patients and caregivers, and interviewed 15 key opinion leaders. </p>
                    </div>
                </div>
            </div>
        </div>



    </section>

</main>
