<main class="max-website-width background--white">

    <!-- Header -->
    <div class="background--lightest center-children hero--spacing">
        <div class="text-center spacing-object">
            <img class="center-width image-container--medium" src="/images/svg/icon-process.svg" type="svg">
            <h1 class=" padding-top--medium animate--fade line-limit--small">How We Created a Patient Centered Tool</h1>
            <p class="center-width line-limit--medium"> See inside the user-centered research, design, and validation that connects patients to health data</p>
        </div>
    </div>

    <!-- Research -->
    <section>

        <img class="center-width image-container--small spacing-section--large" src="/images/svg/icon-research.svg" type="svg">
        <h2 class="text-center"> Research and Definition</h2>

        <div class="columns">
            <div class="column is-half">
                <div>
                    <div class= "full-height background--lightest">
                        <img class="image-size" srcset="/images/half/survey.png 2x, /images/half/survey@0,5x.png 1x" type="image"
                        src="/images/half/survey.png" alt="bar chart">
                    </div>
                 </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style">1a</h1>
                        <h3> Survey and Interviews</h3>
                        <p> To identify the factors that limit patients and caregivers’ awareness,  understanding, and use of health data, we distributed a survey to 700+ patients and caregivers, and interviewed 15 key opinion leaders. </p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/blob/master/1a_Research/Health%20Data%20Basics%20Survey%20Results%20for%20Web.pdf"> Survey Results</a></li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/1a_Research"> All Research</a> </li>
                        </ul>
                    </div>
                 </div>
            </div>
        </div>


         <div class="columns">
            <div class="column is-half">
                <div class="full-height background--lightest">
                    <img class="image-size" srcset="/images/half/definition.png 2x, /images/half/definition@0,5x.png 1x" type="image"
                    src="/images/half/definition.png" alt="sources of health data graphic">
                </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style"> 1b</h1>
                        <h3>Create Definition of Health Data</h3>
                        <p> From a review of existing resources, and from the survey, we established the need for a definition of health data. A survey of 25 thought leaders informed the formation of a Wikipedia page definition and accompanying graphics. </p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/blob/master/1b_Definition/Sources_of_healthdata.jpg"> Sources of Data Graphic</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://en.wikipedia.org/wiki/Health_data">Wikipedia Page</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="columns">
            <div class="column is-half">
                <div class="full-height background--lightest">
                    <img class="image-size" srcset="/images/half/journey.png 2x, /images/half/journey@0,5x.png 1x" type="image"
                    src="/images/half/journey.png" alt="journey map">
                </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style"> 1c</h1>
                        <h3>Need Identification and Guidelines</h3>
                        <p> We then structured learnings and defined design principles taking into account the different needs of patient groups. We explored existing resources on health data and analyzed the survey findings which revealed a need to build trust with individuals before engaging them. </p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/blob/master/1c_Initial%20User%20Needs/FasterCures_HealthDataBasics_PharmacyJourney%20-01.jpg"> Pharmacy Journey</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics/blob/master/1c_Initial%20User%20Needs/Lifecycle_v1.pdf"> LifeCycle Map</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/1c_Initial%20User%20Needs"> All Research</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <!-- Design -->
    <section>

        <img class="center-width image-container--small spacing-section--large" src="/images/svg/icon-design2.svg" type="svg">
        <h2 class="text-center">Design</h2>

        <div class="columns">
            <div class="column is-half">
                <div>
                    <div class= "full-height background--lightest">
                        <img class="image-size" srcset="/images/half/sketch.png 2x, /images/half/sketch@0,5x.png 1x" type="image"
                        src="/images/half/sketch.png" alt="three sketches of concepts">
                    </div>
                 </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style">2a</h1>
                        <h3>Brainstorm Ideas</h3>
                        <p> Early renderings of over 20 concepts explored a full possibility of digital, physical, and exhibit based solutions. Concepts ranged from viral videos and patient trainings to interactive exhibits that explored an individual’s health data.</p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/blob/master/2a_Brainstorming/sketch_Concepts_v2.pdf">Sketches</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/2a_Brainstorming">All Exploration</a></li>
                        </ul>
                    </div>
                 </div>
            </div>

        </div>


         <div class="columns">
            <div class="column is-half">
                <div class="full-height background--lightest">
                    <img class="image-size" srcset="/images/half/decision.png 2x, /images/half/decision@0,5x.png 1x" type="image"
                    src="/images/half/decision.png" alt="decision chart">
                </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style">2b</h1>
                        <h3> Evaluate Concepts</h3>
                        <p> Based on consultation with the advisory panel, consisting of experts in healthcare and patient engagement, we identified factors such as reach and educational impact on which to evaluate concepts. This data combined with a consideration of organizational strengths led to the pursuit of a combination of in-clinic posters and a digital plug-in. </p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/blob/master/2B_Concept%20Evaluation/WeightedDecisionChart_v0.pdf">Dot Decision</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/2B_Concept%20Evaluation">Pugh Chart</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="columns">
            <div class="column is-half">
                <div class="full-height background--lightest">
                    <img class="image-size" srcset="/images/half/where_data_goes.png 2x, /images/half/where_data_goes@0,5x.png 1x" type="image"
                    src="/images/half/where_data_goes.png" alt="poster of where health data goes">
                </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style"> 2c</h1>
                        <h3>Craft the Story </h3>
                        <p> We explored concepts in greater detail, outlining frameworks and honing in on the educational goals and messages each asset could tell through a series of poster concepts and an in-depth plugin. </p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/tree/master/Posters">Poster</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/2c_Medium%20Fidelity%20Concepts"> All frameworks</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="columns">
            <div class="column is-half">
                <div class="full-height background--lightest">
                    <img class="image-size" srcset="/images/half/illustration.png 2x, /images/half/illustration@0,5x.png 1x" type="image"
                    src="/images/half/illustration.png" alt="illustration of health data">
                </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style"> 2d</h1>
                        <h3>Create Visuals  </h3>
                        <p>We created a visual language for health data through experimentation with a range of styles and layouts for icons and illustrations. The goal was to create effective and accessible visuals. </p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/tree/master/2d_Visuals/Icons">Icons</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics/tree/master/2d_Visuals/Illustrations">Illustrations</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- framework & testing -->
    <section>
        <img class="image-container--small spacing-section--large center-width" src="images/svg/icon-framework2.svg" type="svg">
        <h2 class="text-center"> Framework and Testing </h2>

        <div class="columns">
            <div class="column is-half">
                <div class="full-height background--lightest">
                    <img class="image-size" srcset="/images/half/framework.png 2x, /images/half/framework@0,5x.png 1x" src="/images/half/framework.png" alt="flow diagram with health belief model">
                </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style"> 3a</h1>
                        <h3> Align with Patient Needs</h3>
                        <p>Further research for the plugin defined patient profiles and outlined how the design could align with the Health Belief Model and facilitate behavior change through behavioral psychology. In addition, we used <a class="link link--inline" href= "https://www.niddk.nih.gov/health-information/diet-nutrition/changing-habits-better-health"> NIH guidance </a> on how to encourage behavior change at different phases through small, actionable steps.</p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/blob/master/3a_Patient%20needs/Plugin_Conceptual_model%2BEdu_Components.png"> Health Belief Model</a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics/blob/master/3a_Patient%20needs/Plugin%20Brief.pdf"> Plugin Guidelines </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


         <div class="columns">
            <div class="column is-half">
                <div class="full-height background--lightest ">
                     <img class="image-size" srcset="/images/half/flow.png 2x, /images/half/flow@0,5x.png 1x" src="/images/half/flow.png" alt="flow diagram of plugin">
                </div>
            </div>

            <div class="column is-half">
                <div class="standard-container spacing-object-sides--medium">
                    <div>
                        <h1 class="process--text-style">3b</h1>
                        <h3>Design for Behavior Change</h3>
                        <p>A series of prototypes explored different ways of integrating research. One method included hearts that an individual could earn or lose as they progressed. In addition, we tiered information for individuals with short, medium, and long attention spans. Individuals have the opportunity to interact with what they’ve learned through quizzes such as guessing a health data sound, or growing a plant through correct quiz responses. </p>
                        <ul class="list--unstyled">
                            <li class="wrap-links"> <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/blob/master/3b_Behavior%20Change/Plugin_Mockups_flow_v1.pdf">Plugin Flow </a> </li>
                            <li class="wrap-links"> <a class="link link--secondary" href="https://pr.to/QQ1QSK/"> Quiz Prototype </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-half">
                <div class="full-height background--lightest">
                    <img  class="image-size" srcset="/images/half/testing.png 2x, /images/half/testing@0,5x.png 1x" src="/images/half/testing.png" alt=" test report">
                </div>
            </div>

            <div class="column is-half">
                <div class="spacing-object-sides--medium standard-container">
                    <div>
                        <h1 class="process--text-style">3c</h1>
                        <h3>Validate Design</h3>
                        <p>A test of 2 prototypes received strong marks from 30 patients in a test that measured trust, credibility, usability, and appearance. 29/30 patients correctly identified the 5 factors of health data, indicating a strong signal for educational effectiveness. </p>
                         <a class="link link--primary" href="https://github.com/goinvo/HealthDataBasics/blob/master/3c_Testing/Split%20Testing%20Results.pdf">Test Report</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


     <section class="padding-bottom--medium">
            <div class="center-children">
                <div class="text-center ">
                    <img class="spacing-section--large image-container--small" src="/images/svg/icon-tools.svg" type="svg">
                    <h2> Final Tools</h2>
                </div>
            </div>
         <div class="columns">
                    <article class="column is-half">
                        <div class="background--contrast center-children spacing-object">
                            <img class="image-size "
                                srcset="/images/half/plugin@0,5x.png 540w, /images/half/plugin.png 1080w"
                                src="/images/half/plugin.png" alt="screenshot of plugin">
                        </div>

                        <div class="spacing-object center-children">
                            <div>
                                <p class="caption"> <i> Concept</i> </p>
                                <h3>What Heath Data is</h3>
                                <p>In this plugin, individuals engage with their health through surprising and tangible examples showing that there is so much more to health than medical care. This story ultimately shows individuals how health data permeates these interactions.</p>
                                <ul class="list--unstyled">
                                    <li class="wrap-links"> <a class="link link--primary" href=" https://www.canvasflip.com/protected/app/playback.php?project=25601&ref=ddUlzk2lO7XkT9BgVQ3kplZnHJZ1efFs#272027">Scroll Version</a> </li>
                                    <li class="wrap-links"> <a class="link link--secondary" href="https://www.canvasflip.com/protected/app/playback.php?project=25895&ref=7CUvRGSxAtljA2b66mSUiPjzpmFySZFZ">Carousel Version</a> </li>
                                </ul>
                            </div>

                        </div>
                    </article>

                    <article class="column is-half">
                        <div class="background--contrast center-children spacing-object">
                             <img class="image-size"
                                srcset="/images/half/hidden@0,5x.png 540w, /images/half/hidden.png 1080w"
                                src="/images/half/hidden.png" alt="screenshot of plugin">
                        </div>

                        <div class="spacing-object center-children">
                            <div>
                                <p class="caption"> <i> Concept</i> </p>
                                <h3>Uncover the Truth Plugin</h3>
                                <p>Individuals are led through a concise journey about the five main components of health data, where to find it, and their rights to access or request it. Quizzes at the end offer an opportunity to interact with the information learned.</p>
                                <a class="link link--primary" href="https://brysonwong.github.io/v6/">Try it Now</a>
                            </div>
                        </div>
                    </article>
                </div>
    </section>



<!--contact -->
    <div class="background--lightest hero--spacing standard-container">
        <div class="text-center spacing-object">
            <img class="image-container--medium" src="images/svg/icon-contact.svg" type="svg">
            <h2>Curious to learn more?</h2>
            <p class="text-center line-limit--medium">Empower your patients or customers with a greater understanding of their health data, or explore all our files.</p>

            <div class="center-children">
                <ul class="list--unstyled">
                    <li class="wrap-links"><a class="button" href="mailto:healthdatabasics@goinvo.com"> Contact Us </a></li>
                    <li class="wrap-links"> <a class="link link--secondary" href="https://github.com/goinvo/HealthDataBasics"> All Files </a> </li>
                </ul>
            </div>
        </div>
    </div>

</main>
