<main class="max-website-width">
    <div class="center-children text-center background--light hero--spacing">
        <div class="spacing-object">
            <img class="image-container--medium" src="/images/svg/icon-contact.svg" type="svg">
            <h1 class=" padding-bottom--medium line-limit--small center-width padding-top--medium"> We'll be in Touch Soon </h1>
            <%= link_to 'Home Page', 'index.html', class: "button" %>
        </div>
    </div>
</main>
